config.sh
config-trout.sh

.Rproj.user
.Rhistory

r/rmd/*_cache
r/rmd/*_files
r/rmd/*.html

r/docs/_bookdown_files
r/docs/_book
r/docs/*.log

r/csv/*.csv

r/data/neversink/Raw_Data
r/data/potomoc/csv
r/data/**/*.rds
